source https://api.nuget.org/v3/index.json
source https://nuget.pkg.github.com/dotnet-websharper/index.json
source ../localnuget


framework: netstandard2.0
strategy: min
storage: none

nuget WebSharper ~> 6.0
nuget WebSharper.FSharp ~> 6.0
nuget WebSharper.Testing ~> 6.0
nuget WebSharper.UI ~> 6.0
nuget HtmlAgilityPack 1.11.0
nuget System.Net.Http 4.3.2
nuget Microsoft.NETCore.Platforms 1.1.0

group wsbuild
    git https://github.com/dotnet-websharper/build-script dotnettool
