type file
id WebSharper.Remarkable
authors
    IntelliFactory
owners
    IntelliFactory
repositoryType git
repositoryUrl https://github.com/dotnet-websharper/remarkable/
licenseUrl https://github.com/dotnet-websharper/remarkable/blob/master/LICENSE.md
iconUrl https://github.com/dotnet-websharper/core/raw/websharper50/tools/WebSharper.png
projectUrl https://github.com/dotnet-websharper/remarkable
description
    WebSharper Extension for remarkable 2.0.1+
tags
    Web JavaScript F# C#
files
    ../WebSharper.Remarkable/bin/Release/netstandard2.0/WebSharper.Remarkable.dll ==> lib/netstandard2.0
    ../WebSharper.Remarkable/bin/Release/netstandard2.0/WebSharper.Remarkable.xml ==> lib/netstandard2.0
dependencies
        WebSharper ~> LOCKEDVERSION:[3]
