<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net452" />
  <package id="IntelliFactory.Xml" version="0.6.64.1" targetFramework="net452" />
  <package id="Zafir" version="4.0.169.70-beta7" targetFramework="net452" />
  <package id="Zafir.FSharp" version="4.0.169.70-beta7" targetFramework="net452" />
  <package id="Zafir.Html" version="4.0.85.36-beta7" targetFramework="net452" />
  <package id="Zafir.UI.Next" version="4.0.149.53-beta7" targetFramework="net452" />
  <package id="Zafir.UI.Next.Formlets" version="4.0.70.44-alpha" targetFramework="net452" />
</packages>