<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.5.0-beta92" targetFramework="net452" />
  <package id="IntelliFactory.Xml" version="0.6.64.1" targetFramework="net452" />
  <package id="Zafir" version="4.0.170.71-beta7" targetFramework="net452" />
  <package id="Zafir.FSharp" version="4.0.170.71-beta7" targetFramework="net452" />
  <package id="Zafir.Html" version="4.0.86.37-beta7" targetFramework="net452" />
  <package id="Zafir.UI.Next" version="4.0.153.58-beta7" targetFramework="net452" />
  <package id="Zafir.UI.Next.Formlets" version="4.0.71.45-alpha" targetFramework="net452" />
</packages>